{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="tb">
        <thead class="head">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody class="body">
            {% for row in all_rows %}
                <tr>
                    <td> {{ row[0] }} </td>
                    <td> {{ row[1] }} </td>
                    <td> {{ row[2] }} </td>
                    <td> {{ row[3] }} </td>
                    <td> {{ row[4] }} </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="foot">
            <tr>
                <td></td><td></td><td></td><td></td>
                <td>{{ final_total }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
